label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
#submit {
    width:127px;
    height:38px;
    
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}